# IntelliJ project files
.idea/
*.iml

lesson1/chat/logs/client.log
lesson1/chat/logs/server.log
lesson2/logs/client.log
lesson2/logs/server.log
lesson3/logs/client.log
lesson3/logs/server.log
lesson3/server_base.db3
lesson4/logs/client.log
lesson4/logs/server.log
lesson4/server/server_base.db3
/lesson8/package_messenger/build/exe.win-amd64-3.9/lib/
